{% extends 'base.html' %}

{% block content %}

{% load static %}
<link rel="stylesheet" href="{% static '/css/style.css' %}">

<!-- h1> Parallax effect In Bootstrap </h1 -->

    <header class ="parallax-header">
        <!-- Container -->
        <div class="container-fluid">
            <div class="header-content">
                <!-- a href="#"-->
                    <!-- img src="{% static 'logo-a.png' %}" alt="Comunidad" width="80" class="d-block mx-auto" -->
                    <!-- imagen responsiva con ancho automatico -->
                    <!--img src="{% static 'logo.png' %}" alt="Comunidad" width="100%" class="img-fluid"-->
                <!--/a-->
                <!-- h3 class="text-center text-light">Cooperativa en Fungicultura</h3-->
            </div>

        </div>
        <!-- ./End of Container -->
    </header>

    <!-- Boxes -->
    <section class="p-5">
    <div class="container">
        <div class="row text-center g-4">
        <div class="col-md">
            <div class="card">
            <div class="card-body text-center">
                <div class="h1 mb-3">
                <i class="bi bi-laptop"></i>
                </div>
                <h3 class="card-title mb-3">En línea</h3>
                <p class="card-text">
                Hacemos clases en línea para que puedas llevar el cultivo de hongos sustentables a tu hogar.
                Tu pones las ganas, nosotros te ayudamos.  
                </p>
                
                <a href="#" class="btn btn-dark">Mas información</a>
            </div>
            </div>
        </div>
        <div class="col-md">
            <div class="card">
            <div class="card-body text-center">
                <div class="h1 mb-3">
                <i class="bi bi-twitter"></i>
                </div>
                <h3 class="card-title mb-3">En Terreno</h3>
                <p class="card-text">
                    Hacemos clases en línea para que puedas llevar el cultivo de hongos sustentables a tu hogar.
                    Tu pones las ganas, nosotros te ayudamos.
                </p>
                <a href="#" class="btn btn-dark">Mas información</a>
            </div>
            </div>
        </div>
        <div class="col-md">
            <div class="card">
            <div class="card-body text-center">
                <div class="h1 mb-3">
                <i class="bi bi-people"></i>
                </div>
                <h3 class="card-title mb-3">En Persona</h3>
                <p class="card-text">
                    Hacemos clases en línea para que puedas llevar el cultivo de hongos sustentables a tu hogar.
                    Tu pones las ganas, nosotros te ayudamos.
                </p>
                <a href="#" class="btn btn-dark">Mas información</a>
            </div>
            </div>
        </div>
        </div>
    </div>
    </section>

         <!-- Showcase -->
         <section id= "QuienesSomos" class="bg-dark text-light p-5 p-lg-0 pt-lg-5 text-center text-sm-start">
          <div class="container">
            <div class="d-sm-flex align-items-center justify-content-between">
              <div> 
                <!-- h1>Quienes Somos <span class="text-warning"> Web Developer </span></h1-->
                <h1>Quienes Somos</h1>
                <p class="lead my-4">
                 Contamos con un diverso grupo de profesionales a nivel nacional enfocados en la fungicultura, quienes de manera cercana y acorde al territorio, compartirán las claves prácticas y los elementos necesarios para el desarrollo de unidades productivas en pro de la diversificación predial, enfocada en hongos.
                </p>
     
                 <h3>Nos vinculamos</h3>
                <p class="lead my-4">
                 Luego de 7 años de trabajar, con más de 200 talleres realizados y 300 personas capacitadas en fungicultura, hemos hecho amigos en todo el país, compartiendo fungicultura a través de diferentes instituciones, y conectando con diversas personas y proyectos, a quienes hemos apoyado desde nuestra área. Te invitamos a formar parte de esta red, creciendo por el sur de Chile.           
               </p>
              </div>
              <img
                class="img-fluid w-50 d-none d-sm-block"
                src="../static/micelio.png"
                alt=""
              />
            </div>
          </div>
          <div>
             </br></br>
         </div>
        </section>
  
      <!-- Learn Sections -->
      <section id="Servicios" class="p-5">
        <div class="container">
          <div class="row align-items-center justify-content-between">
            <div class="col-md">
              <img src="../static/TallerCultivo.png" class="img-fluid" alt="" />
            </div>
            <div class="col-md p-5">
              <h2>Talleres de cultivo de hongos</h2>
              <p class="lead">
                Junto a un grupo de hasta 20 personas llevaremos a cabo el proceso de cultivo de hongos,de forma sencilla y utilizando sustratos disponibles localmente, y recorreremos juntos el método de cultivo de hongos en 7 pasos.
              </p>
              <p>
                Aprende a cultivar en:
                <ul> 
                    <li>Baldes y bolsas en introducción a la fungicultura </li>
                    <li>Troncos, bancal o fardos en cultivo en exterior</li>
                    <li>Granos en reproducción de semillas.</li>
                </ul>
              </p>
              <a href="#" class="btn btn-light mt-3">
                <i class="bi bi-chevron-right"></i> Mas Información
              </a>
            </div>
          </div>
        </div>
      </section>
  
      <section id="learn" class="p-5 bg-dark text-light border border-primary">
        <div class="container">
          <div class="row align-items-center justify-content-between">
            <div class="col-md p-5">
              <h2>Salidas a terreno</h2>
              <p class="lead">
                En un grupo de hasta 15 personas nos adentraremos al bosque en búsqueda de hongos comestibles, compartiendo los métodos y herramientas necesarias para la identificación de hongos silvestres, los que recolectaremos y cocinaremos en grupo.
              </p>
              <p>
                Aprende identificación de hongos silvestres, recolección sustentable de hongos comestibles, reproducción in situ de la cepa.
              </p>
              <a href="#" class="btn btn-light mt-3">
                <i class="bi bi-chevron-right"></i> Mas Información
              </a>
            </div>
            <div class="col-md">
              <img src="../static/SalidasTerreno.png" class="img-fluid" alt="" />
            </div>
          </div>
        </div>
      </section>

      <section id="learn" class="p-5">
        <div class="container">
          <div class="row align-items-center justify-content-between">
            <div class="col-md">
              <img src="../static/BioPreparados.png" class="img-fluid" alt="" />
            </div>
            <div class="col-md p-5">
              <h2>Bio Preparados</h2>
              <p class="lead">
                En un grupo de hasta 20 personas organizaremos la elaboración colectiva de fertilizantes orgánicos y otros biopreparados para la agricultura familiar campesina utilizando elementos locales y de fácil disponibilidad, haremos abonos baratos y efectivos.
              </p>
              <p>
                Aprende a preparar bokashi, bioestimulantes, bioinsecticidas fungicidas y repelentes.
              </p>
              <a href="#" class="btn btn-light mt-3">
                <i class="bi bi-chevron-right"></i> Mas Información
              </a>
            </div>
          </div>
        </div>
      </section>

      <section id="learn" class="p-5 bg-dark text-light">
        <div class="container">
          <div class="row align-items-center justify-content-between">
            <div class="col-md p-5">
              <h2>Giras Técnicas</h2>
              <p class="lead">
                Organizamos giras técnicas según requerimientos, contamos con la posibilidad de organizar giras de fungicultura a Santiago Villarrica y Puerto Montt, donde será posible visitar y conocer diferentes proyectos de cultivo de hongos, cooperativismo, agricultura campesina y recolección sustentable de hongos silvestres.
              </p>
              <p>
                Aprende el cooperativismo y la agricultura campesina, conoce la importancia de la recolección sustentable de hongos silvestres, conoce la importancia de la conservación de la biodiversidad.
              </p>
              <a href="#" class="btn btn-light mt-3">
                <i class="bi bi-chevron-right"></i> Mas Información
              </a>
            </div>
            <div class="col-md">
              <img src="../static/GirasTecnicas.png" class="img-fluid" alt="" />
            </div>
          </div>
        </div>
      </section>

      <!-- Seccion Nuestros Expertos-->
      <section id="instructors" class="p-5" style="background-color: #fdfcec;">
        <div class="container">
          <h2 class="text-center">Nuestros Instructores</h2>
          <p class="lead text-center mb-5">
            Nuestros instructores tienen mas de 10 años de experiencia 
          </p>
          <div class="row g-4">
            <div class="col-md-6 col-lg-3">
              <div class="card bg-light">
                <div class="card-body text-center">
                  <img
                    src="../static/francisco.png"
                    class="rounded-circle mb-3"
                    alt=""
                  />
                  <h3 class="card-title mb-3">Francisco Paredes</h3>
                  <p class="card-text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Assumenda accusamus nobis sed cupiditate iusto? Quibusdam.
                  </p>
                  <a href="https://twitter.com"><i class="bi bi-twitter text-dark mx-1"></i></a>
                  <a href="https://www.facebook.com"><i class="bi bi-facebook text-dark mx-1"></i></a>
                  <a href="https://linkedin.com"><i class="bi bi-linkedin text-dark mx-1"></i></a>
                  <a href="https://www.instagram.com"><i class="bi bi-instagram text-dark mx-1"></i></a>
                </div>
              </div>
            </div>
  
            <div class="col-md-6 col-lg-3">
              <div class="card bg-light">
                <div class="card-body text-center">
                  <img
                    src="../static/isra.png"
                    class="rounded-circle mb-3"
                    alt=""
                  />
                  <h3 class="card-title mb-3">Israel Contreras</h3>
                  <p class="card-text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Assumenda accusamus nobis sed cupiditate iusto? Quibusdam.
                  </p>
                  <a href="https://twitter.com"><i class="bi bi-twitter text-dark mx-1"></i></a>
                  <a href="https://www.facebook.com"><i class="bi bi-facebook text-dark mx-1"></i></a>
                  <a href="https://linkedin.com"><i class="bi bi-linkedin text-dark mx-1"></i></a>
                  <a href="https://www.instagram.com"><i class="bi bi-instagram text-dark mx-1"></i></a>
                </div>
              </div>
            </div>
  
            <div class="col-md-6 col-lg-3">
              <div class="card bg-light">
                <div class="card-body text-center">
                  <img
                    src="../static/ignacio.png"
                    class="rounded-circle mb-3"
                    alt=""
                  />
                  <h3 class="card-title mb-3">Ignacio Salas</h3>
                  <p class="card-text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Assumenda accusamus nobis sed cupiditate iusto? Quibusdam.
                  </p>                  
                  <a href="https://twitter.com"><i class="bi bi-twitter text-dark mx-1"></i></a>
                  <a href="https://www.facebook.com"><i class="bi bi-facebook text-dark mx-1"></i></a>
                  <a href="https://linkedin.com"><i class="bi bi-linkedin text-dark mx-1"></i></a>
                  <a href="https://www.instagram.com"><i class="bi bi-instagram text-dark mx-1"></i></a>
                </div>
              </div>
            </div>
  
            <div class="col-md-6 col-lg-3">
              <div class="card bg-light">
                <div class="card-body text-center">
                  <img
                    src="../static/vladi.png"
                    class="rounded-circle mb-3"
                    alt=""
                  />
                  <h3 class="card-title mb-3">Vladimir Larrañaga </h3>
                  <p class="card-text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Assumenda accusamus nobis sed cupiditate iusto? Quibusdam.
                  </p>    
                  <a href="https://twitter.com"><i class="bi bi-twitter text-dark mx-1"></i></a>
                  <a href="https://www.facebook.com"><i class="bi bi-facebook text-dark mx-1"></i></a>
                  <a href="https://linkedin.com"><i class="bi bi-linkedin text-dark mx-1"></i></a>
                  <a href="https://www.instagram.com"><i class="bi bi-instagram text-dark mx-1"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
  
      <!-- Question Accordion -->
      <section id="Preguntas" class="p-5">
        <div class="container">
          <h2 class="text-center mb-4">Frequently Asked Questions</h2>
          <div class="accordion accordion-flush">
            <!-- Item 1 -->
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#question-one"
                >
                  Donde Estamos Ubicados?
                </button>
              </h2>
              <div
                id="question-one"
                class="accordion-collapse collapse"
                data-bs-parent="#questions"
              >
                <div class="accordion-body">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam
                  beatae fuga animi distinctio perspiciatis adipisci velit maiores
                  totam tempora accusamus modi explicabo accusantium consequatur,
                  praesentium rem quisquam molestias at quos vero. Officiis ad
                  velit doloremque at. Dignissimos praesentium necessitatibus
                  natus corrupti cum consequatur aliquam! Minima molestias iure
                  quam distinctio velit.
                </div>
              </div>
            </div>
            <!-- Item 2 -->
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#question-two"
                >
                  Cual es el costo de los servicios?
                </button>
              </h2>
              <div
                id="question-two"
                class="accordion-collapse collapse"
                data-bs-parent="#questions"
              >
                <div class="accordion-body">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam
                  beatae fuga animi distinctio perspiciatis adipisci velit maiores
                  totam tempora accusamus modi explicabo accusantium consequatur,
                  praesentium rem quisquam molestias at quos vero. Officiis ad
                  velit doloremque at. Dignissimos praesentium necessitatibus
                  natus corrupti cum consequatur aliquam! Minima molestias iure
                  quam distinctio velit.
                </div>
              </div>
            </div>
            <!-- Item 3 -->
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#question-three"
                >
                  Que insumos necesito para asistir a los talleres?
                </button>
              </h2>
              <div
                id="question-three"
                class="accordion-collapse collapse"
                data-bs-parent="#questions"
              >
                <div class="accordion-body">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam
                  beatae fuga animi distinctio perspiciatis adipisci velit maiores
                  totam tempora accusamus modi explicabo accusantium consequatur,
                  praesentium rem quisquam molestias at quos vero. Officiis ad
                  velit doloremque at. Dignissimos praesentium necessitatibus
                  natus corrupti cum consequatur aliquam! Minima molestias iure
                  quam distinctio velit.
                </div>
              </div>
            </div>
            <!-- Item 4 >
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#question-four"
                >
                  How Do I sign up?
                </button>
              </h2>
              <div
                id="question-four"
                class="accordion-collapse collapse"
                data-bs-parent="#questions"
              >
                <div class="accordion-body">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam
                  beatae fuga animi distinctio perspiciatis adipisci velit maiores
                  totam tempora accusamus modi explicabo accusantium consequatur,
                  praesentium rem quisquam molestias at quos vero. Officiis ad
                  velit doloremque at. Dignissimos praesentium necessitatibus
                  natus corrupti cum consequatur aliquam! Minima molestias iure
                  quam distinctio velit.
                </div>
              </div>
            </div-->
            <!-- Item 5 -->
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#question-five"
                >
                  Cual es la duración de las Salidas a Terreno?
                </button>
              </h2>
              <div
                id="question-five"
                class="accordion-collapse collapse"
                data-bs-parent="#questions"
              >
                <div class="accordion-body">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam
                  beatae fuga animi distinctio perspiciatis adipisci velit maiores
                  totam tempora accusamus modi explicabo accusantium consequatur,
                  praesentium rem quisquam molestias at quos vero. Officiis ad
                  velit doloremque at. Dignissimos praesentium necessitatibus
                  natus corrupti cum consequatur aliquam! Minima molestias iure
                  quam distinctio velit.
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="parallax-footer">
        <!-- Container -->
        <div class="container">
            <div class="header-content-footer">
                <!-- Test Paralax-->
                <div class="container">
                    <div class="d-md-flex justify-content-between align-items-center">
                      <h3 class="mb-3 mb-md-0">Únete al Micelio!</h3>
                      <div class="input-group news-input">
                        <input type="text" class="form-control" placeholder="Email" />
                        <button class="btn btn-dark btn-lg" type="button">Enviar</button>
                      </div>
                    </div>
                </div>
            </div>
    
        </div>
        <!-- ./End of Container -->
    </section>

    <!-- Newsletter -->
    <!-- section class="bg-primary text-light p-5">
        <div class="container">
          <div class="d-md-flex justify-content-between align-items-center">
            <h3 class="mb-3 mb-md-0">Sign Up For Our Newsletter</h3>
  
            <div class="input-group news-input">
              <input type="text" class="form-control" placeholder="Enter Email" />
              <button class="btn btn-dark btn-lg" type="button">Submit</button>
            </div>
          </div>
        </div>
      </section-->


{% endblock %}